<app-navbar></app-navbar>
<header class="relative flex w-full flex-col items-start">
  <!-- <video [muted]="true" autoplay loop plays-inline class="debug z-[2] h-[59.000rem] w-full max-w-[2400px]"> -->
  <video [muted]="true" autoplay loop plays-inline class="w-full overflow-hidden">
    <source src="assets/Démos 14 - (9x16)-compressed.mp4" type="video/mp4" />
  </video>

  <!-- // Placeholder -->
  <!-- <div class="h-full w-full bg-blue-600"></div> -->

  <div class="border-element"></div>
</header>
