<app-header></app-header>

<div class="w-screen">
  <section class="flex h-96 w-full flex-col items-center justify-center">
    <h1 class="font-['Prata'] text-6xl font-medium">Audi & Laura</h1>
    <span class="text-blue-600">__</span>
    <p class="pt-4 text-2xl">Internationally Renowned Kizomba Instructors</p>
  </section>

  <!-- Videos Preview -->
  <section class="flex w-full flex-col justify-center px-16 pb-24 pt-24">
    <div>
      <h2 class="video-heading">Urbankiz Videos</h2>

      <div class="flex flex-wrap items-start justify-center gap-6 pt-8">
        <div *ngFor="let video of urbankizVideos() | slice: 0 : 3">
          <app-video-item [video]="video" [videoTag]="'#urbankiz'"></app-video-item>
        </div>
      </div>
    </div>

    <div class="pt-24">
      <h2 class="video-heading">Tarraxo Videos</h2>

      <div class="flex flex-wrap items-start justify-center gap-6 pt-8">
        <div *ngFor="let video of tarraxoVideos() | slice: 0 : 3">
          <app-video-item [video]="video" [videoTag]="'#tarraxo'"></app-video-item>
        </div>
      </div>
    </div>

    <div class="pt-24">
      <h2 class="video-heading">Kiz Music</h2>

      <div class="flex flex-wrap items-start justify-center gap-6 pt-8">
        <div *ngFor="let video of kizMusic() | slice: 0 : 3">
          <app-video-item [video]="video" [videoTag]="'#kizmusic'"></app-video-item>
        </div>
      </div>
    </div>
  </section>

  <!-- Our Impact -->
  <section class="flex w-full flex-col justify-center px-16 pb-72 pt-24">
    <div class="relative flex w-full flex-col items-center overflow-hidden bg-slate-800 pb-72">
      <div class="">
        <h2 class="px-4 pt-24 text-3xl font-normal text-white">Our Impact</h2>
      </div>

      <div class="flex flex-wrap items-start justify-center gap-6 py-24 text-white">
        <app-our-impact-item [stats]="'500K+'" [text]="'dancers taught and empowered worldwide'"></app-our-impact-item>
        <app-our-impact-item [stats]="'27+'" [text]="'countries visited to share our knowledge'"></app-our-impact-item>
        <app-our-impact-item [stats]="'156+'" [text]="'events attended, providing our expertise'"></app-our-impact-item>
        <app-our-impact-item [stats]="'15+'" [text]="'years of combined experience in the dance industry'"></app-our-impact-item>
      </div>
      <div class="border-element"></div>
    </div>
  </section>

  <!-- About Us -->
  <section class="flex w-full flex-col justify-center px-16 pb-72 pt-24">
    <div class="flex flex-col gap-4">
      <h2 class="text-3xl font-normal">About Us</h2>
      <div class="h-[.1rem] w-12 bg-teal-600"></div>
    </div>

    <div>
      <img src="" alt="" />
    </div>
  </section>
</div>
