<footer class="flex h-20 w-full flex-col justify-center bg-black text-white">
  <div class="flex justify-between px-16">
    <div>
      <a routerLink="/" class="footer-links font-serif text-3xl">AL</a>
    </div>
    <ul class="flex justify-center gap-4">
      <li><a href="" class="footer-links">Urbankiz</a></li>
      <li><a href="" class="footer-links">Tarraxo</a></li>
      <li><a href="" class="footer-links">Music</a></li>
      <li><a href="" class="footer-links">Contact Us</a></li>
    </ul>
    <div></div>
  </div>
  <div class="flex w-full justify-center text-sm">
    <p>Copyright © 2024 Audi & Laura</p>
  </div>
</footer>
